@import url("https://fonts.googleapis.com/css?family=Bungee|Hind|PT+Sans|Pacifico|Poppins|Lobster");

:root {
    --tomato-color: #ff433d;
    --yellow-color: #ffb347;
    --megenta-color: rgba(168, 2, 168, 0.897);
    --lime-color: rgba(8, 248, 80, 0.932);
    --light-orange: #ff6215;
    --poppins: "Poppins", sans-serif;
    --bungee: "Bungee", cursive;
    --lobster: "Lobster", cursive;
    --pacifico: "Pacifico", cursive;
}

/*              Homepage Design             */

.navbar {
    background-color: #002f49a2;
}

.navbar-brand {
    padding-left: 30px;
    font-family: var(--lobster);
    font-size: 2rem;
    color: var(--yellow-color);
}

.nav-item {
    padding: 0em 1.3em;
}

.nav-link {
    font-family: var(--poppins);
    color: whitesmoke;
    font-size: 1.1em;
}

.nav-link:hover {
    color: var(--light-orange);
}

.heading .h1 {
    font-family: var(--bungee);
    font-size: 7vmin;
    padding-top: 28vmin;
    color: var(--yellow-color);
}

.heading .h1+span {
    color: var(--yellow-color);
}

.heading .p {
    padding: 0em 13vmin;
    color: whitesmoke;
    font-size: 3.5vmin;
    font-family: var(--pacifico);
}

/* .heading>.btn1,
.btn2 {
    padding: 3vmin 7vmin;
    margin: 2vmin 2.5vmin;
    background: #002f49;
    font-size: 2.5vmin;
    font-family: var(--poppins);
    color: white;
}

.heading>.btn2 {
    background-color: var(--tomato-color);
    border: 0px;
    color: white;
}

.heading>.btn1:hover,
.btn2:hover {
    border: 1px solid tomato;
} */

.heading {
    margin-bottom: 45vmin;
}

#myVideo {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -999;
}

/* -------------------About */
.about {
   padding-top: 30vmin;
   padding-bottom: 25vmin;
}

.about-img {
    height: 400px;
    max-width: 100%;
    border-radius: 50%;
}

.about h1 {
    margin-top: 30px;
    font-weight: bold;
    color: var(--yellow-color);
    font-family: var(--bungee);
}

.about p {
    font-size: 2vmin;
    font-family: var(--poppins);
    color: rgb(70, 65, 65);
}

/* -----------------Services */

.services {
    margin-top: 15vmin 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("stock/AdobeStock_123226414.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    height: 80vh;
}

.service-heading {
    padding: 10vh;
    font-family: var(--bungee);
}

.service-heading::before {
    content: "";
    background: var(--yellow-color);
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.service-img {
    height: 200px;
}

.service-img1 {
    height: 150px;
    width:  300px;
    margin-bottom: 1.6rem;
    margin-top: 1.5rem;
}

.service {
    padding: 20px;
}

.service h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: var(--bungee);
}

.services p {
    font-family: var(--poppins);
}

.counter-section {
  background-image: linear-gradient(rgba(202, 199, 214, 0.5), rgba(158, 67, 83, 0.8)),
  url("stock/architecture-blur-bridge-buildings-266044.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vh;
  height: 70vh;
}

.counter-title {
    color: whitesmoke;
    padding: 12vmin;
     font-family: var(--bungee);
}

.counter-section {
    color: whitesmoke;
}

.icon-box {
    border: 1px solid #fff;
    height: 100px;
    width: 100px;
    margin: 20px auto;
    transform: rotate(45deg);
}

.icon-box i {
    font-size: 40px;
    margin: 25px auto;
    color: #ffc800;
    transform: rotate(-45deg);
}

.counter-box p {
    font-size: 20px;
    font-family: var(--poppins);
    color: var(--yellow-color);
}

.counter-box .counter {
    font-size: 80px;
    color: whitesmoke;
}

/* -----------------Subcribe- */
.subscribe {
    margin: 25vh 0;
    padding: 80px 20px;
    background-color: #013f7e;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
    /* margin-bottom: -100px; */
}

.subscribe h3,
.subscribe p {
    color: whitesmoke;
}

.subscribe .input-group {
    border-radius: 30px;
    background: #fff;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;
}

.subscribe .form-control {
    border: none;
    background: transparent;
}

.subscribe .form-control::focus {
    box-shadow: none;
    background: transparent;
}

.subscribe .input-group-append {
    background-image: linear-gradient(to right, #1c03b5, #5c8bef);
    border-radius: 30px;
}

.subscribe .input-group-text {
    background: transparent;
    border: none;
    color: whitesmoke;
}

.subscribe .btn:focus {
    box-shadow: none;
}


/* -----------------Footer Section */
.footer-section {
    height: 58vh;
    background: url("stock/AdobeStock_285046852.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-heading {
    padding-top: 3.4rem;
    color: whitesmoke;
    font-family: var(--lobster);
}

.footer-list {
    display: flex;
    justify-content: center;
    padding-top: 8rem;
}

.footer-list a {
    text-decoration: none;
}

.footer-link {
    font-size: 1.5rem;
    color: white;
    margin: 0 2rem; 
    padding: 0.3rem 3rem;
    letter-spacing: 0.3rem;
    transition: all 0.2s;
}

.footer-link:hover {
    transform: rotate(-10deg);
    box-shadow: 0 2rem 3rem #000;
    color: #000;
    background-color: grey;
    text-decoration: none;
}

.copyright p {
     text-align: center;
     font-size: 0.8rem;
     color: var(--yellow-color);
     letter-spacing: 0.2rem;
     margin-top: 8rem;
}
